body{
   margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:#333;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align:center;

}
hr{
    border:0;
    background:#e5e5e5;
    display: block;
    width:100%;
    height: 1px;
    margin:20px 0;
}
/*Intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("assets/images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro__title{
    font-size: 150px;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}
.intro__title:after{
    display:block;
    content:"";
    height: 3px;
    width:60px;
    background-color: #fff;
    margin:60px auto;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    
    text-align: center;
}
.intro__suptitle{
    margin-bottom: 15px;
    font-size: 75px;
    font-family: 'Kaushan Script', cursive;
   
    color: #fff;
}
.header{
    
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    padding-top:30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size:30px;
    font-weight: 700;
    color: #fff;
}
/*Nav*/
nav{
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    margin:0 15px;
}
.nav__link:hover{
    border-bottom: 2px solid;
    color:yellow;
}
.btn{
    display: inline-block;
    vertical-align: top;
    border:2px solid #fff;
    padding:10px 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    
}
.btn:hover{
    background: #fff;
    color:#333;
}
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.intro__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.intro__item.active {
    opacity: 1;
}

.intro__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}
.section{
    padding:80px 0;
}
.section--devices{
    background:url(assets/images/devices-bg.jpg) center no-repeat;
    padding-bottom: 0;
}
.section__header{
    width:100%;
    max-width: 950px;
    margin:0 auto 50px;
    
}
.section__suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color:#333;
}
.section__title{
    font-size: 30px;
    color:#333;
    text-transform: uppercase;
    font-weight: 700;
}
.section__title:after{
    content:"";
    display:block;
    width:60px;
    height:3px;
    background-color: red;
    margin:30px auto;
}
.section__text{
    color:#999;
    font-size: 15px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top:80px;
}
.about__item{
    width:380px;
}
.about__img{
    background: linear-gradient(to bottom,#f38181,#fce38a);
    transition: transform .1s linear;
    background-color: #333;
  
}
.about__item:hover .about__img img{
    opacity: 0.3;
}
.about__img img{
    display: block;
}
.about__item:hover .about__img{
    transform: translate3d(-10px,-10px,0);
}
.statistics{
    background: #95e1d3;
}
.stat{
    display:flex;
}
.stat__item{
    flex:1 1 0;
    border-left: 1px solid white;
    text-align: center;
    color:#fff;
    padding:70px 25px;
}
.stat__item:last-child(){
    border-right: 1px solid white;
}
.stat__count{
    font-size:72px;
    font-weight: bold;
}
.stat__text{
    font-size: 14px;
    text-transform: uppercase;
}
/*Services*/
.services{
    display:flex;
}
.services__item{
    flex:1 1 0;
    padding-left:85px;
    position: relative;
    padding-right:35px;
  
}
.services__img{
    position:absolute;
    top:0;
    left:25px;
    z-index: 1;
}
.services__title{
    font-size: 14px;
    color:#333;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services__text{
    font-size:15px;
    color:#999;
}
.devices{
    max-width: 600px;
    width:100%;
    margin:0 auto;
    position: relative;
}
.devices__item{
    display:block;
}
.devices__item--iphone{
    position:absolute;
    bottom: -80px;
    right: 0;

}